
body {
  font-family: 'Tahoma', Geneva, sans-serif;
  background-color: Snow;
}

.container {
    color: Snow;
    position: relative;
    max-width: 3000px; /* Maximum width */
    margin: 0 auto;; /* Center it */
}

.content  {
  color: Snow;
}

.container .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: Snow; /* White text */
    width: 97%; /* Full width */
    padding: 20px; /* Some padding */
}

div { text-align: center; }
.trait { display: inline-block; text-align: left;}

h1 {
  font-size: 100px;
}


.boxed {
  color: Snow;
  height: 100%;
  margin-top: 50px;
  width: 100%;
  margin-top: -20px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid Black;
  margin-left: auto;
  margin-right: auto;
  background-color: #94AE89;
}
.opportunities  {
  color: Black;
  height: 100%;
  width: 100%;
  /* border: 1px solid Black; */
  margin-top: 0px;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #59594A; */
}
.data_info{
  color: White;
  height: 100%;
  width: 100%;
  margin-top: 0px;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: Snow;
  font-size: 20px;
  color: Black;
}
.column {
  float: left;
  width: 32.5%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
p {
  font-size: 20px;
}

 img {
border: 1px solid black;
}
.green  {
  color: #879F7D;
}
.diff_color {
  color: #272838
}
